ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

.nav > li > a {
  border-right: 1px solid #A80000;
  padding: 5px;
  color: #000;
}

.nav .active > a,
.nav .active > a:focus {
  color: red;
}